/* .album-timeline-cont {
  margin-top: 1.75%;
} */

.album-info {
  max-width: 90%;
  margin: auto;
  padding-left: 250px;
  padding-right: 250px;
  padding-top: 50px;
  padding-bottom: 10px;
  color: rgb(255, 255, 255);
}

h6 {
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
p {
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.album-meta {
  color: #ff6b61;
}
img {
  float: left;
  margin-top: -20px;
  margin-right: 20px;
}

.all_album_info {
  float: auto;
}

.timeline-cont {
  max-width: 90%;
  margin: auto;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: rgb(255, 255, 255);

  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 0px 155px 0 rgba(47, 47, 47, 0.37);
  backdrop-filter: blur(7.5px);
  -webkit-backdrop-filter: blur(7.5px);
  border-radius: 10px;

  margin-top: 25px;
  height: 450px;
  text-align: center;
}
