.searchbar {
  margin-top: 1.75%;
}

.sidebar-col {
  margin-top: 15px;
}

.comparisons {
  margin-top: 1.75%;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 0px 155px 0 rgba(47, 47, 47, 0.37);
  backdrop-filter: blur(11.5px);
  -webkit-backdrop-filter: blur(11.5px);
  border-radius: 10px;

  height: 700px;
}

.artist {
  margin-top: 1.75%;
  border: 1px rgba(255, 255, 255, 0.126) solid;
  border-radius: 10px;

  margin: 25px;
}

.content {
  margin-top: 5px;
}

hr {
  border: 1px rgba(255, 255, 255, 0.126) solid;
}
