.form-control {
  height: 30px;
  border-radius: 55px;

  background: rgba(172, 224, 50, 0.25);
  backdrop-filter: blur(6.5px);
  -webkit-backdrop-filter: blur(6.5px);
  border: none;
  color: white !important;
  align-items: center;
}

.form-control:focus {
  background: rgba(172, 224, 50, 1);
  backdrop-filter: blur(6.5px);
  -webkit-backdrop-filter: blur(6.5px);
  box-shadow: 0 0px 155px 0 rgba(47, 47, 47, 0.37);
  border: none;
  color: white !important;
}

::placeholder {
  color: white;
}

.btn-outline-success {
  background: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(6.5px);
  border-radius: 15px;
  color: rgb(255, 255, 255);
}

.results-col {
  max-width: 85%;
  justify-content: center;
  align-items: center;
  margin-left: 5%;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;

  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 0px 155px 0 rgba(47, 47, 47, 0.37);
  backdrop-filter: blur(7.5px);
  -webkit-backdrop-filter: blur(7.5px);
  border-radius: 30px;
  color: white;
}

.badge-selected {
  background: rgba(172, 224, 50, 0.5);
  backdrop-filter: blur(6.5px);
  -webkit-backdrop-filter: blur(6.5px);
  color: white;
  padding: 5px;
  margin: 5px;
}

.badge-selected:hover {
  background: rgba(255, 107, 97, 0.702);
  backdrop-filter: blur(6.5px);
  -webkit-backdrop-filter: blur(6.5px);
  color: white;
  padding: 5px;
  margin: 5px;
  cursor: pointer;
}

.badge-selected:active {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  color: white;
  padding: 5px;
  margin: 5px;
  cursor: pointer;
}

.search-results-dropdown {
  max-width: 85%;
  justify-content: center;
  align-items: center;
  margin-left: 5%;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;

  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 0px 155px 0 rgba(47, 47, 47, 0.37);
  backdrop-filter: blur(7.5px);
  -webkit-backdrop-filter: blur(7.5px);
  border-radius: 30px;
  color: white;
}

.card-body {
  background: rgba(255, 255, 255, 0);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 30px;
  color: white;
}
/* body::-webkit-scrollbar-thumb {
  background-color: #ff6b61;
  border-radius: 2px; 
  border: 3px solid rgba(0, 0, 0, 0); 
  height: 50px;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #b9443b;
  height: 60px;
} */

.badge-results {
  cursor: pointer;
  background: rgba(255, 107, 97, 0.702);
  backdrop-filter: blur(6.5px);
  -webkit-backdrop-filter: blur(6.5px);
  color: white;
  border-radius: 15px;
  padding: 5px;
  margin: 5px;
}

.badge-results:hover {
  cursor: pointer;
  background: rgba(172, 224, 50, 0.5);
  backdrop-filter: blur(6.5px);
  -webkit-backdrop-filter: blur(6.5px);
  color: white;
  padding: 5px;
  margin: 5px;
}
